@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --animate-marquee-vertical: marquee-vertical 20s linear infinite;
  --animate-marquee2-vertical: marquee2-vertical 20s linear infinite;
  --animate-marquee-vertical-reverse: marquee-vertical-reverse 95s linear
    infinite;
  --animate-marquee2-vertical-reverse: marquee2-vertical-reverse 95s linear
    infinite;

  --font-poppins: "Poppins", sans-serif;

  --color-background-primary: #fff9f9;
  --color-background-secondary: #014e44;

  --color-primary-800: #002925;
  --color-primary-700: #003c36;
  --color-primary-500: #014e44;
  --color-primary-400: #3b775f;
  --color-primary-300: #769f83;
  --color-primary-200: #b0c8b1;

  --color-secondary-700: #248277;
  --color-secondary-600: #56ab91;
  --color-secondary-500: #78c6a3;
  --color-secondary-400: #a1cdb3;
  --color-secondary-200: #d5ede2;
  --color-secondary-100: #ecf3f0;

  --color-tertiary-700: #958394;
  --color-tertiary-600: #c0abc1;
  --color-tertiary-500: #e9d2ee;
  --color-tertiary-400: #efdbef;
  --color-tertiary-200: #f3ecf1;
  --color-tertiary-100: #f6f3f4;

  --color-quaternary-700: #4c6a80;
  --color-quaternary-600: #7688bf;
  --color-quaternary-500: #aaa3ff;
  --color-quaternary-400: #c2c5f6;
  --color-quaternary-200: #dce1f3;
  --color-quaternary-100: #f0f2f6;

  --color-error-light: #ff8d8c;
  --color-error-medium: #ff403f;
  --color-error-dark: #cd3333;

  --color-neutral-600: #1a1a1a;
  --color-neutral-500: #202020;
  --color-neutral-400: #676767;
  --color-neutral-300: #adadad;
  --color-neutral-200: #d1d1d1;
  --color-neutral-100: #f8f8f8;

  --text-primary: #202020;
  --text-secondary: #fff9f9;
  --text-tertiary: #003c36;
  --text-quaternary: #014e44;
  --text-light: #d1d1d1;
  --text-medium: #adadad;

  --animate-opacStart: opacStart 0.5s ease-in-out;
  @keyframes opacStart {
    0% {
      transform: translateY(5px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  --animate-fadeOut: fadeOut 0.3s ease-in-out;
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-modalOpen: modalOpen 0.3s ease-in-out;
  @keyframes modalOpen {
    0% {
      transform: translateY(10%);
      scale: 0.9;
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes marquee-vertical-reverse {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  @keyframes marquee2-vertical-reverse {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes marquee2-vertical {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-poppins);
}
